# local package
-e .

# external requirements
click
Sphinx
coverage
awscli
flake8
pylint
pandas
geopandas
matplotlib
sqlalchemy
geoalchemy2
python-dotenv
psycopg2-binary
praw
nltk
ipykernel
notebook
urllib3